# archlinux-proaudio editorconfig
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[PKGBUILD]
indent_style = spaces
indent_size = 2
max_line_length = 100
binary_next_line = true
space_redirects = true
keep_padding = true
