# Hugo static site generator config
---
params:
  bannerImage: https://unsplash.com/photos/19u5e9oSrlU/download
  repoUrl: https://arch.osamc.de/proaudio/%s/%s
  pkgbuildUrl: https://github.com/osam-cologne/archlinux-proaudio/blob/master/packages/%s/PKGBUILD

baseURL: https://arch.osamc.de/
languageCode: en-us
title: Arch Linux Pro-Audio Repo
publishDir: .tmp/public
resourceDir: .tmp/resources
module:
  mounts:
    - source: web/content
      target: content
    - source: web/static
      target: static
    - source: web/layouts
      target: layouts
    - source: web/data
      target: data
    - source: web/assets
      target: assets
    - source: web/i18n
      target: i18n
    - source: web/archetypes
      target: archetypes
minify:
  minifyOutput: true
