[notify-rocketchat]
room = ArchlinuxProAudioRepository
server_url = https://chat.sonoj.org/
username = BOT-arch.osamc.de
password = XXXXXXXX
template = New software versions reported by nvchecker (nvcmp):
    ```
    {table}
    ```
