{
    "homeserver": "https://sonoj.org",
    "password": "XXXXXXXX",
    "room_id": "!AkWpRHuPJQwVbEpayh:sonoj.org",
    "tablefmt": "html",
    "template": "<p>New software versions reported by nvchecker (nvcmp):</p>\n{table}",
    "user_id": "@bot-archlinux-proaudio:sonoj.org"
}
