{
    "homeserver": "https://sonoj.org",
    "password": "XXXXXXXX",
    "room": "!AkWpRHuPJQwVbEpayh:sonoj.org",
    "template": "<p>New software versions reported by nvchecker (nvcmp):</p>\n{table}",
    "user_id": "@spotlightkid:sonoj.org"
}
